{% extends "base.html" %}

{% macro compound_image_card(smiles, highlight='') %}
  <div class="card">
    <img src='{{ url_for("get_compound_image") }}?smiles={{ smiles|urlencode }}&highlight={{ highlight|urlencode }}'
         alt="{{ smiles }}"
         class="card-img-top w-100 overflow-visible"
         style="aspect-ratio: 1">
    <div class="card-body">
      <h5 class="card-title text-truncate text-center"
          data-bs-toggle="tooltip"
          data-bs-title="{{ smiles }}">{{ smiles.id + " " + smiles.type.lower() }}</h5>
    </div>
  </div>
{% endmacro %}

{% block content %}
  <div class="vstack gap-4 mt-3">
    <h1 class="text-primary">Antibody Search</h1>

    <!-- Search results -->
    {% if antibodies_list|length > 0 %}
      <div class="compound-card-grid">
        {% for antibody in antibodies_list %}
          <div class="compound-card-container overflow-visible">{{ compound_image_card(antibody) }}</div>
        {% endfor %}
      </div>
    {% else %}
      <p class="fs-3">No matching compounds</p>
    {% endif %}
  </div>
{% endblock content %}

{% block styles %}
  <style>
  .compound-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  .compound-card-container {
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
    width: 100%;
  }

  .card-img-rectangle {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
  }
  </style>
{% endblock styles %}
